<!-- Initial version from https://github.com/airpair/T0021-airpair-angularjs-tutorial/blob/master/templates/header.html -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/">Freedville Central</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.manning.com/books/creating-virtual-assistants?utm_source=andrewrfreed&utm_medium=affiliate&utm_campaign=book_freed_creating_12_27_20&a_aid=andrewrfreed&a_bid=cc3c6977">Book</a>
                </li>
                <li><a href="/blog">Blog</a>
                </li>
                <li><a href="#/writing">Publications</a>
                </li>
                <li><a href="#/resume">Resume</a>
                </li>
                <li><a href="#/contact">Contact</a>
                </li>
		<!-- commented out, not deleted, as reminder on how to do dropdowns in menus -->
		<!--
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/blog">List of Posts</a>
                        </li>
                        <li><a href="#/blog/post">View One Post</a>
                        </li>
                    </ul>
                </li>
		-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>