<div class="title">Contact</div>
<div class="text">
    <ul class="contentList">
       <li>Email: <a href="mailto:&#97;&#114;&#102;&#114;&#101;&#101;&#100;&#064;&#110;&#099;&#046;&#114;&#114;&#046;&#099;&#111;&#109;">&#97;&#114;&#102;&#114;&#101;&#101;&#100;&#064;&#110;&#099;&#046;&#114;&#114;&#046;&#099;&#111;&#109;</a></li>
       <li><a href="http://www.facebook.com/arfreed">Facebook</a></li>
       <li><a href="http://www.linkedin.com/in/andrewrfreed">LinkedIn</a></li>
       <li><a href="https://twitter.com/andrewrfreed">Twitter</a></li>
       <li><a href="https://www.ibm.com/developerworks/mydeveloperworks/profiles/html/profileView.do?key=d02d4415-d8f2-4fd7-a029-399212232d7b&lang=en">developerWorks</a></li>
     </ul>
</div>