<div class="container">
<p>Welcome to Freedville Central, the homepage of Andrew Freed!</p>
<p>Please find my <a href="/blog">blog</a>, <a href="#/writing">publications</a>, <a href="#/resume">resume</a>, and <a href="#/contact">contact information</a>.</p>
<p>You can also find my books <a href="https://www.manning.com/books/conversational-ai?utm_source=andrewrfreed&utm_medium=affiliate&utm_campaign=book_freed_creating_12_27_20&a_aid=andrewrfreed&a_bid=cc3c6977">Conversational AI</a> and <a href="https://www.manning.com/books/effective-conversational-ai">Effective Conversational AI</a> at Manning.com.</p>
<img src="/img/AndrewProfileSquare.jpg" alt="Andrew R. Freed profile picture" title="Andrew R. Freed" />
</div>