<div class="container">
 <h2>Patents</h2>
 <div class="list-group" ng-controller="PatentCtrl">
  <p ng-repeat="patent in patents">
  {{patent.id}}: <a href="{{patent.link}}">{{patent.title}}</a>, {{patent.authors}} ({{patent.year}})
  </p>
 </div>
</div>
<!-- find more at http://appft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&u=%2Fnetahtml%2FPTO%2Fsearch-adv.html&r=1&f=S&l=50&d=PG01&p=1&S1=Freed-Andrew$.IN.&Query=IN/Freed-Andrew$ -->

<div class="container">
 <h2>Published IP</h2>
 <div class="list-group" ng-controller="PublishedIpCtrl">
  <p ng-repeat="ip in publishedip">
  <a href="{{ip.link}}">{{ip.title}}</a>, {{ip.authors}} ({{ip.year}})
  </p>
 </div>
</div>

<div class="container">
 <h2>Publications</h2>
 <div class="list-group" ng-controller="PublicationCtrl">
  <p ng-repeat="pub in publications">
  {{pub.authors}} ({{pub.year}}). <a href="{{pub.link}}">{{pub.title}}</a>. {{pub.citation}}
  </p>
 </div>
</div>